.heroSection {
  width: 100%;
  position: relative;
  padding: 90px 0;
}

.container {
  max-width: 1100px;
  padding: 40px;
}

.title {
  font-size: 72px;
  font-weight: 800;
  color: #202430;
  line-height: 1.1;
  margin-bottom: 25px;
}

.heroImage {
  position: absolute;
  width: 90%;
  inset: 0;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  translate: 350px;
  object-fit: contain;
}

.purpleText {
  color: #4640de;
}

.blueText {
  color: #26a4ff;
  position: relative;
  display: inline-block;
}

.underline {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
}

.description {
  color: #515b6f;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.searchBar {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  max-width: 500px;
  border: 1px solid #e9ebf0;
}

.inputGroup {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 15px;
}

.icon {
  color: #202430;
  margin-right: 10px;
}

.inputGroup input,
.inputGroup select {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #515b6f;
  padding: 10px 0;
}

.divider {
  width: 1px;
  height: 40px;
  background-color: #e9ebf0;
}

.searchBtn {
  background-color: #4640de;
  color: white;
  border: none;
  padding: 14px 28px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.searchBtn:hover {
  background-color: #3530a3;
}

.popular {
  margin-top: 20px;
  color: #7c8493;
  font-size: 14px;
}

.popular strong {
  color: #202430;
}

.companiesSection {
  width: 100%;
  padding: 40px 0;
  background-color: #fff;
}

.container {
  width: 1100px;
  padding: 10px 50px;
}

.leadText {
  color: #7c8493;
  font-size: 16px;
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
}

.logoGrid {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #26a4ff;
  justify-content: é—´-between;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
  gap: 30px;
  opacity: 0.6;
}

.logo {
  height: 35px;
  width: auto;
  filter: grayscale(100%);
  transition: all 0.3s ease;
  cursor: pointer;
}

.logo:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .logoGrid {
    justify-content: center;
  }
}
