.job-container {
  padding: 25px;
  width: 376px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2c2c2c;
}

.about-section {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

.categories {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}

.progress-box {
  margin-bottom: 25px;
  width: 376px;
}

.progress-box p {
  font-size: 14px;
  margin-bottom: 8px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  width: 50%;
  height: 100%;
  background: #22c55e;
}

.job-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.info-row span {
  color: gray;
}

.info-row .bold {
  font-weight: 600;
  color: #000000c8;
}

hr {
  margin: 25px 0;
  border: none;
  height: 1px;
  background-color: #e5e7eb;
}

.tags {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.tag {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.marketing {
  color: #f59e0b;
  background-color: #eb85331a;
}

.design {
  background: #e0f2f1;
  color: #10b981;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.skills-list span {
  background: #eef2ff7a;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  gap: 10px;
  color: #4f46e5;
}
