
.jobs-container {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 28px;
  font-weight: 700;
}

.section-header span {
  color: #3b82f6;
}

.section-header a {
  font-size: 14px;
  color: #3b82f6;
  text-decoration: none;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 80px;
}

.job-card {
  padding: 20px;
  border: 1px solid #3b82f6;
  cursor: pointer;
  border-radius: 10px;
}

.job-card:hover {
  background-color: #3b82f6;color: #fff;
  box-shadow: 0 0 10px #3b82f6;
}

.job-card:hover .badge  {
  color: #fff;
}

.job-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #eef2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.badge {
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
  border: 1px solid #c7d2fe;
  color: #3b82f6;
}

.job-card h3 {
  font-size: 16px;
  margin-bottom: 6px;
}

.job-card p {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 15px;
}

.job-card:hover p {
  color: #fff;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tag {
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
}

.marketing {
  background: #fff7ed;
  color: #f97316;
}

.design {
  background: #ecfeff;
  color: #06b6d4;
}

.business {
  background: #f0fdf4;
  color: #22c55e;
}

.technology {
  background: #fef2f2;
  color: #ef4444;
}

.fulltime {
  background: #eef2ff;
  color: #6366f1;
}

.latest-section {
  padding: 50px;
  border-radius: 16px;
}

.latest-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.latest-card {
  display: flex;
  gap: 15px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
}

.logo.small {
  width: 45px;
  height: 45px;
}

.latest-card h4 {
  font-size: 15px;
  margin-bottom: 4px;
}

.latest-card p {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 8px;
}