.Sing_In {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UserInformation {
  width: 100%;
  display: flex;
  align-items: center;
}

.UserInformationlift {
   display: flex;
   height: 100vh;
   width: 50%;
   justify-content: center;
   align-items: center;
}

.img-container {
  width: 50%;
  height: 100vh;
}