.Navbar {
  display: flex;
  justify-content: center;
  flex-shrink: 0Ù‘;
  justify-content: center;
}
.Navbar ul {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.Navbar ul li {
  list-style: none;
  padding: 10px;
}

.Navbar ul li a {
  color: #111;

}
