* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Miniver", cursive;
  font-weight: 700;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  display: block;
  text-decoration: "none";
  color: "#fff";
  text-decoration: none;
}

button,
input {
  outline: none;
  padding: 10px;
  border: none;
}
