.MapComponent {
    width: 100%;
    padding: 10px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    align-items: center;
}

.MapComponentTExt {
    translate: 0 -20px;
}